@use "../scss/colors.scss" as colors;

.error__page {
 color: colors.$color-primary;
 text-align: center;
 h1 {
    font-size: 10rem;
    margin-bottom: 0.5em;;
    font-weight: bold;
 }
 h2 {
    font-size: 30px;
    font-weight: 400;
 }
 a {
    color: colors.$color-primary;
 }
}