@use "../scss/colors.scss" as colors;

.navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: colors.$color-primary;
    font-weight: 700;
    gap: 2rem;
    & > *:first-child {
        margin-right: auto;
    }
    & a {
        text-decoration: none;
        color: colors.$color-primary;
        & a.active, &:hover {
            text-decoration: underline;
            }
                 }
}








