@use "../scss/colors.scss" as colors;

.footer {
    background-color: colors.$contrast-black;
    color: colors.$contrast-white;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
}